/*
>>================================================================================>
Development Notes
>>================================================================================>
*/

/*
 * All Resolutions:
 * >>------------->
 * Blue     3beef9
 */

/*
 * Font 1:
 * >>------------->
 * font-family: "din-2014",sans-serif;
 */

/*
 * Font 1 Weights:
 * >>------------->
 * Regulat      400
 * Demi         600
 * Bold         700
 * Extra Bold   800
 */

 /*
 * Font 2:
 * >>------------->
 * font-family: 'Source Code Pro', monospace;
 */

/*
 * Font 2 Weights:
 * >>------------->
 * Semi Bold    600
 */

/*
>>================================================================================>
Imports
>>================================================================================>
*/

@import 'vendor/normalize';

/*
>>================================================================================>
Resets and Helpers
>>================================================================================>
*/

*,
*:before,
*:after {
    outline:none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "din-2014",sans-serif;
    background-color:#fff;
}

body.disabled {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.touchevents body.disabled {
    position: fixed;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

::-moz-selection {
    background: #3beef9;
    color:#fff;
}

::selection {
    background: #3beef9;
    color:#fff;
}

::-moz-selection {
    background: #3beef9;
    color:#fff;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
button,
path {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease, fill 0.3s ease;
}

input,
button {
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    border:none;
    padding: 0;
    background:transparent;
}

a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    font-family: "din-2014",sans-serif;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {
    .desktop-only {
        display: none !important;
    }
}

/*
>>================================================================================>
Reuseable Elements
>>================================================================================>
*/

.blue-button {
    position: relative;
    font-weight: 600;
    color: #000;
    position: relative;
    display: table;
    background-color:#3beef9;
    font-weight: 800;
    padding-right: 45px;
    padding-left: 25px;
    border-radius: 30px;
    color:#000;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .11em;
    box-shadow: 4.015px 4.459px 29px 0px rgba(48, 95, 129, 0.18);
    line-height: 1em;
}

button.blue-button {
    height: 52px;
}

a.blue-button {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blue-button svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.no-touchevents .blue-button:hover {
    background-color:#000;
    color:#3beef9;
}

.no-touchevents #footer .blue-button:hover {
    background-color:#fff;
}

.no-touchevents .blue-button:hover svg path {
    fill:#3beef9;
}

a.linkedin {
    display: block;
    width: 18px;
    height: 16px;
}

a.linkedin svg {
    fill:#fff;
    width: 18px;
    height: 16px;
}

a.linkedin:hover svg {
    fill:#3beef9;
}

a.linkedin span {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {

}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {

}

/*
>>================================================================================>
Main Framework
>>================================================================================>
*/

.container {
    max-width: 920px;
    margin: 0 auto;
}

.container.large {
    max-width: 1360px;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {
    .container {
        padding: 0 80px;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {
    .container {
        padding: 0 29px;
    }
}

/*
>>================================================================================>
Main UI Components
>>================================================================================>
*/

/* All Resolutions 
 * >>-------------> */

#site-logo {
    background-image: url(../../img/site-logo.svg);
    margin: 0;
    position: absolute;
}

#site-logo span {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* Background Video */

#background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    z-index: -1;
}

#background-video video {
    position: absolute;
    border:none;
    top: 70%;
    transform: translateY(-50%);
    width: 100%;
    min-width: 1024px;
    height: auto;
}

#loading {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
}

/* Space Curtains */

#space-curtains {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: 1;
}

#space-curtains div {
    position: fixed;
    width: 100%;
    height:100%;
    left: 50%;
    top: 50%;
    transition:opacity 600ms ease, visibility 600ms ease;
    transform: translate(-50%,-50%) rotate(19deg) scale(1.6);
}

#space-curtains div:before {
    content:'';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(0%);
    background-image:url(../../img/space-curtains-left.jpg);
    background-color:#000;
    background-size: cover;
    background-position: center right;
}

#space-curtains.animate div:before {
    animation: space-curtains-1 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

#space-curtains div:after {
    content:'';
    position: absolute;
    width: 55%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-image:url(../../img/space-curtains-right.jpg);
    background-color:#000;
    background-size: cover;
    background-position: center left;
    margin-left: -1px;
    transform: translateY(-50%) translateX(0%);
}

#space-curtains.animate div:after {
    animation: space-curtains-2 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

/* Animated Logo */

#animated-logo {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 324px;
    height: 324px;
    transform:translate(-50%,-50%);
}

#animated-logo.animate {
    animation: logo-out 500ms ease-in-out forwards;   
}

@keyframes logo-out {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#animated-logo .logo {
    position: absolute;
    z-index: 2;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#animated-logo .logo .circle {
    width: 100%;
    height: 100;
    position: absolute;
    stroke: #fff;
    fill: none;
    stroke-width: 2;
    stroke-dasharray: 0 100;
}

#animated-logo .logo .circle.animate {
    animation: logo-stroke 1.2s ease-out forwards;
}

@keyframes logo-stroke {
    100% {
        stroke-dasharray: 100 100;
    }
}

#animated-logo .logo .vertical {
    position: absolute;
    width: 37px;
    height: 0;
    overflow: hidden;
}

#animated-logo .logo .vertical span {
    display: block;
    width: 37px;
    height: 64px;
    overflow: hidden;
    background-image:url(../../img/animated-logo-vertical.svg);
    background-size: 37px 64px;
}

#animated-logo .logo .vertical.animate {
    animation: logo-vertical 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;   
}

@keyframes logo-vertical {
    100% {
        height: 64px;
    }
}

#animated-logo .logo .vertical:nth-child(1) {
    top: 63px;
    left: 54px;
}

#animated-logo .logo .vertical:nth-child(2) {
    top: 63px;
    left: 95px;
}

#animated-logo .logo .horizontal {
    position: absolute;
    width: 0;
    overflow: hidden;
    height: 12px;
    top: 90px;
    left: 85px;
}

#animated-logo .logo .horizontal span {
    display: block;
    width: 44px;
    height: 12px;
    background-image:url(../../img/animated-logo-horizontal.svg);
    background-size: 44px 12px;
}

#animated-logo .logo .horizontal.animate {
    animation: logo-horizontal 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;   
}

@keyframes logo-horizontal {
    100% {
        width: 44px;
    }
}

#animated-logo .flare {
    position: absolute;
    width: 324px;
    height: 324px;
    background-image: url(../../img/animated-logo-flare@2x.png);
    background-size: cover;
    opacity: 0;
}

#animated-logo .flare.animate {
    animation: logo-flare 2s ease-in-out forwards;   
}

@keyframes logo-flare {
    100% {
        opacity: 1;
    }
}

/* Desktop 
 * >>-------------> */
 
@media screen and (min-width: 768px) {
    #site-logo {
        z-index: 2;
        width: 216px;
        height: 55px;
        background-size: 216px 55px;
        top: 30px;
        left: 40px;
    }

    @keyframes space-curtains-1 {
        100% {
            transform: translateY(-20%) translateX(-100%);
        }
    }

    @keyframes space-curtains-2 {
        100% {
            transform: translateY(-80%) translateX(100%);
        }
    }
}

/* Mobile 
 * >>-------------> */

@media screen and (max-width: 767px) {
    #site-logo {
        z-index: 2;
        width: 119px;
        height: 31px;
        background-size: 119px 31px;
        top: 18px;
            left: 25px;
    }

    @keyframes space-curtains-1 {
        100% {
            transform: translateY(-40%) translateX(-100%);
        }
    }

    @keyframes space-curtains-2 {
        100% {
            transform: translateY(-60%) translateX(100%);
        }
    }

    /* Burger */

    #burger {
        position: fixed;
        right: 0;
        top: 0;
        background-color:#000;
        width: 52px;
        height: 52px;
        z-index: 4;
    }

    .mobile-menu-active #burger {
        position: fixed;
    }

    #burger span {
        display: block;
        background: #ffffff;
        width: 22px;
        height: 3px;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    #burger span:nth-child(1) {
        top: 17px;
    }

    #burger span:nth-child(2) {
        top: 26px;
        left: 40%;
    }

    #burger span:nth-child(3) {
        top: 35px;
    }

     .mobile-menu-active #burger span:nth-child(1) {
         -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
             -ms-transform: translateY(9px) translateX(0) rotate(45deg);
                 transform: translateY(9px) translateX(0) rotate(45deg);
     }

    .mobile-menu-active #burger span:nth-child(2) {
         opacity: 0;
     }

     .mobile-menu-active #burger span:nth-child(3) {
         -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
             -ms-transform: translateY(-9px) translateX(0) rotate(-45deg);
                 transform: translateY(-9px) translateX(0) rotate(-45deg);
     }
}

/*
>>================================================================================>
Menus
>>================================================================================>
*/

/* Primary Navigation */

#primary-nav a {
    font-weight: 600;
    letter-spacing: .05em;
}

#primary-nav li.current-menu-item a {
    color: #3beef9
}

#menu nav.social a {
    display: block;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {

    /* Primary Navigation */

    #primary-nav {
        position: absolute;
        top: 42px;
        right: 42px;
    }

    #primary-nav li {
        display: inline-block;
        margin-left: 30px;
    }

    #primary-nav li a {
        color:#000;
    }
    
    .no-touchevents #primary-nav li a:hover{
        color: #8c97a2
    }

    #menu li.home {
        display: none;
    }

    /* Social Navigation */

    #menu nav.social {
        z-index: 3;
        position: fixed;
        top: 50%;
        left: 35px;
        transform: translateY(-50%);
    }

    #menu nav.social li {
        margin-bottom: 39px;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {
    #menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 3;
        top: 0;
        background-color:#000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms ease, visibility 300ms ease;
        background-image:url(../../img/menu-bg.jpg);
        background-size: cover;
        background-position: center;
        overflow: auto;
        -ms-overflow-style: scrollbar;
        -webkit-overflow-scrolling: touch;
    }

    #menu li.home {
        content:'';
        position: absolute;
        width: 205px;
        height: 210px;
        background-image:url(../../img/menu-logo@2x.png);
        background-size: 205px 210px;
        top: 30px;
        left: 50%;
        margin-left: -102px;
        border: none !important;
    }

    #menu li.home span {
        border: 0;
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    #menu li.home a {
        display: block;
        width: 205px;
        height: 210px;
    }

    #menu .container {
        padding: 256px 0 0 0;
    }

    .mobile-menu-active #menu {
        opacity: 1;
        visibility: visible;
    }

    /* Primary Navigation */

    #primary-nav {
        border-top: 1px solid rgba(255,255,255,.25);
        margin-bottom: 40px;
    }

    #primary-nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    #primary-nav li {
        width: 50%;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    #primary-nav li:nth-child(even){
        border-right: 1px solid rgba(255,255,255,.25);
    }

    #primary-nav a {
        line-height: 1em;
        color:#fff;
        font-size: 18px;
    }

    #menu .blue-button {
        margin: 0 auto 30px auto;
    }

    /* Social Navigation */

    #menu nav.social svg {
        fill:#fff;
    }

    #menu nav.social li {
        display: block;
        width: 25%;
        margin-bottom: 47px;
        height: 31px;
        border-right: 1px solid rgba(255,255,255,.25);
        text-align: center;
        padding-top: 8px;
        position: relative;
    }

    #menu nav.social li:nth-child(4) {
        border-right:none;
    }

    #menu nav.social a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

/*
>>================================================================================>
Social Navigation
>>================================================================================>
*/

nav.social a {
    display: block;
}

nav.social a span {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

nav.social svg {
    display: block;
    width: 100%;
    height: 100%;
}

.no-touchevents nav.social a:hover svg path {
    fill:#3beef9;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {
    nav.social a.email {
        width: 18px;
        height: 12px;
    }

    nav.social a.facebook {
        width: 11px;
        height: 21px;
    }

    nav.social a.twitter {
        width: 17px;
        height: 15px;
    }

    nav.social a.medium {
        width: 18px;
        height: 12px;
    }

    nav.social a.reddit {
        width: 19px;
        height: 15px;
    }

    nav.social a.telegram {
        width: 19px;
        height: 17px;
    }

    nav.social a.slack {
        width: 18px;
        height: 18px;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {
    nav.social ul {
        display: flex;
        flex-flow: row wrap;
    }

    nav.social a.email {
        width: 22px;
        height: 15px;
    }

    nav.social a.facebook {
        width: 11px;
        height: 22px;
    }

    nav.social a.twitter {
        width: 20px;
        height: 17px;
    }

    nav.social a.medium {
        width: 20px;
        height: 16px;
    }

    nav.social a.reddit {
        width: 23px;
        height: 18px;
    }

    nav.social a.telegram {
        width: 21px;
        height: 19px;
    }

    nav.social a.slack {
        width: 19px;
        height: 19px;
    }
}

/*
>>================================================================================>
Front Page (Home)
>>================================================================================>
*/

#front-page main > div {
    position: relative;
}

#front-page main > div:before {
    content:'/';
    position: absolute;
    font-weight: 800;
}

#front-page main h2 {
    font-weight: 700;
    margin: 0;
}

/* Form */

#front-page #form .input-group label {
    text-transform: uppercase;
    letter-spacing: .02em;
}

#front-page #form .input-group .inputs {
    border-bottom: 2px solid #000;
}

#front-page #form .checkbox .message,
#front-page #form .input-group #output {
    letter-spacing: .08em;
    line-height: 1.4em;
    font-size: 15px;
    font-weight: 400;
    min-height: 20px;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 1400px) {
    #front-page main {
        width: 700px;
    }

    #front-page main h2 {
        font-size:72px;
        line-height: 1.2em;
        letter-spacing: .025em;
    }
}

@media screen and (max-width: 1399px) and (min-width: 768px) {
    #front-page main {
        width: 500px;
    }

    #front-page main h2 {
        font-size: 50px;
        line-height: 1.2em;
        letter-spacing: .025em;
    }
}

@media screen and (min-width: 768px) {
    #front-page {
        position: absolute;
        height: 100%;
        width: 100%;
        min-height: 860px;
        overflow: hidden;
        top: 0;
    }

    #front-page main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin-top: -28px;
    }

    #front-page main > div:before,
    #front-page main > div:after {
        content:'/';
        position: absolute;
        font-size: 70px;
        font-weight: 800;
    }

    #front-page main > div:before {
        top: -30px;
        left: -60px;
    }

    #front-page main > div:after {
        bottom: -5px;
        right: -50px;
    }

    /* Form */

    #front-page #form .input-group {
        display: flex;
        padding-right: 20px;
        margin-bottom: 25px;
    }

    #front-page #form {
        margin-top: 70px;
    }

    #front-page #form .input-group .inputs {
        margin-top: -14px;
        margin-left: 7px;
    }

    #front-page #form-bottom {
        margin-bottom: 50px;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {
    #front-page main {
        padding: 145px 40px 0 40px;
    }

    #front-page main h2 {
        position: relative;
        display: block;
        margin-bottom: 44px;
    }

    #front-page main h2:after {
        content:'/';
        position: absolute;
        font-weight: 800;
        right: -10px;
        bottom: -10px;
    }

    #front-page main > div:before,
    #front-page main > h2:after {
        font-size: 40px;
    }

    #front-page main > div:before {
        top: -23px;
        left: -30px;
    }

    #front-page main h2 {
        font-size:31px;
        line-height: 1.25em;
        letter-spacing: .01em;
    }
}

/*
>>================================================================================>
Form
>>================================================================================>
*/

#form * {
    font-weight: 600;
}

/* Input Group */

#form .input-group .inputs {
    display: flex;
    flex-grow:1;
    height: 31px;
    transition: opacity 300ms linear;
}

#form.error .input-group .inputs {
    border-color:#e040fb;
}

#form .input-group .inputs ::-webkit-input-placeholder {
    color: #868686;
}

#form .input-group .inputs ::-moz-placeholder {
    color: #868686;
}

#form .input-group .inputs :-ms-input-placeholder {
    color: #868686;
}

#form .input-group .inputs :-moz-placeholder {
    color: #868686;
}

#form .input-group .inputs #email-field.error::-webkit-input-placeholder {
    color: #e040fb;
}

#form .input-group .inputs #email-field.error::-moz-placeholder {
    color: #e040fb;
}

#form .input-group .inputs #email-field.error:-ms-input-placeholder {
    color: #e040fb;
}

#form .input-group .inputs #email-field.error:-moz-placeholder {
    color: #e040fb;
}

#form .input-group #output a {
    display: none;
}

#form .input-group #output a:hover {
    color:#3beef9;
}

#email-field {
    font-size: 12px;
    letter-spacing: .07em;
    height: 27px;
    flex-grow:1;
}

#form.error input:-webkit-autofill,
#form.error input:-webkit-autofill:hover, 
#form.error input:-webkit-autofill:focus
#form.error input:-webkit-autofill {
    -webkit-text-fill-color: #e040fb;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

#form .submit {
    position: relative;
    display: table;
    background-color:#3beef9;
    font-weight: 800;
    padding: 20px 45px 20px 25px;
    border-radius: 30px;
    color:#000;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .11em;
    box-shadow: 4.015px 4.459px 29px 0px rgba(48, 95, 129, 0.18);
}

#form .submit svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#form .submit svg path {
    fill:#000;
}

.no-touchevents #form .submit:hover {
    background-color:#000;
    color:#3beef9;
}

.no-touchevents #form .submit:hover svg path {
    fill:#3beef9;
}

.no-touchevents #form:not(.sending) .submit:hover {
    cursor: pointer;
}

#form.sending .input-group .inputs {
    opacity: .3;
    transition: none;
}

/* Form Bottom */

#form-bottom {
    font-size: 12px;
    position: relative;
}

#form .checkbox {
    transition: opacity 300ms ease, visibility 300ms ease;
}

#form .checkbox:before,
#form .checkbox:after {
    content: " ";
    display: table;
}

#form .checkbox:after {
    clear: both;
}

#form .checkbox .indicator {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    float: left;
    background-color:#fff;
}

#form .checkbox.error .indicator {
    border-color:#e040fb;
}

#form .checkbox .indicator:after {
    content:'';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color:transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: background-color 100ms linear;
}

#form .checkbox.active .indicator:after {
    background-color:#000;
}

#form .checkbox .message {
    text-align: left;
    display: block;
}

#form .checkbox.error .message {
    color:#e040fb;
}

#output {
    display: none;
}

#form.success #output {
    display: block;
}

#form.success .checkbox {
    display: none;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {

    /* Input Group */
    
    #form .input-group label {
        font-size: 18px;
    }

    /* Form Bottom */

    #form .checkbox .message {
        margin-left: 32px;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {
    #form {
        margin-bottom: 50px;
    }

    #form .input-group label {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 22px;
    }

    /* Input Group */

    #form .input-group {
        margin-bottom: 31px;
    }

    #form .input-group .inputs {
        height: 31px;
    }

    /* Form Bottom */

    #form.success .checkbox {
        flex-shrink:0;
    }

    #form .checkbox .message {
        margin-top: -1px;
        margin-left: 32px;
    }
}

/*
>>================================================================================>
Sub Page
>>================================================================================>
*/

#sub-page main > .container {
    position: relative;
    z-index: 2;
}

/* Text Styles */

#sub-page main h1:before,
#sub-page main h1:after {
    content:'/';
    position: absolute;
    font-weight: 800;
}

#sub-page main h1:before {
    top: 0;
    left: 0;
}

#sub-page main h1:after {
    bottom: 0;
    right: 0;
}

#sub-page main h1 {
    display: inline-block;
    position: relative;
}

/* Background Video */

#sub-page #background-video video {
    top: 0;
    transform: translateY(-40%);
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {

    #sub-page main {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    /* Text Sizes */

    #sub-page main h1:before,
    #sub-page main h1:after {
        font-size: 76px
    }

    #sub-page main h1 {
        font-size: 75px;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 54px;
    }

    #sub-page main p.lead-in {
        font-size: 31px;
        margin-bottom: 70px;
    }

    #sub-page main h2 {
        font-size: 22px;
        margin-bottom: 12px;
    }

    #sub-page main p {
        font-size: 22px;
        line-height: 1.9em;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {
    #sub-page main {
        margin-top: 82px;
        margin-bottom: 30px;
    }

    /* Text Sizes */

    #sub-page main h1:before,
    #sub-page main h1:after {
        font-size: 31px;
    }

    #sub-page main h1 {
        font-size: 31px;
        padding-left: 32px;
        padding-right: 33px;
        margin-bottom: 20apx;
        letter-spacing: .09em;
    }

    #sub-page main p.lead-in {
        font-size: 19px;
        line-height: 1.6em;
        margin-bottom: 33px;
    }

    #sub-page main h2 {
        font-size: 19px;
        margin-bottom: 8px;
    }

    #sub-page main p {
        font-size: 19px;
        line-height: 1.6em;
    }
}

/*
>>================================================================================>
Footer
>>================================================================================>
*/

#footer {
    background-color: #000;
    background-image: url(../../img/footer-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    color: #fff;
}

/* Logo */

#footer .logo {
    display: block;
    width: 216px;
    height: 55px;
}

/* Boilerplate & Social Navigation */

#footer nav.social svg {
    fill:#fff;
}

/* Form */

#form.error #email-field,
#form.error #email-field:-webkit-autofill {
    color:#e040fb !important;
}

#footer #email-field {
    color:#fff;
}

#footer #form .input-group .inputs {
    border-bottom: 1px solid #fff;
}

#footer input:-webkit-autofill,
#footer input:-webkit-autofill:hover, 
#footer input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    color:#fff;
}

#footer #form .input-group #output,
#footer #form .checkbox .message {
    letter-spacing: .08em;
    color:#fff;
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 400;
    min-height: 20px;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {
    #footer .container {
        padding-top: 170px;
        padding-bottom: 100px;
        max-width: 1250px;
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* Logo */

    /* Boilerplate & Social Navigation */

    #footer .boilerplate-social {
        padding: 0 20px;
        width: 35%;
        padding-top: 8px;
    }

    #footer .boilerplate-social p {
        font-size: 23px;
        line-height: 1.8em;
    }

    #footer nav.social {
         margin-top: 30px;
    }

    #footer nav.social li {
        display: inline-block;
        vertical-align: middle;
    }

    #footer nav.social li{
        /*margin-left: 30px;*/
        width: 12%;
    }

    /* Form */

    #footer #form {
        width: 32%;
        padding-top: 18px;
    }

    #footer #form .input-group label {
        font-size: 23px;
    }

    #footer #form .input-group .inputs {
        margin-top: 24px;
        margin-bottom: 22px;
    }

    #footer #form button {
        margin-top: 32px;
        height: 50px;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {

    #footer .container {
        max-width: 400px;
        padding-top: 81px;
        padding-bottom: 30px;
    }

    /* Logo */

    #footer .logo {
        width: 216px;
        height: 55px;
        margin-bottom: 52px;
    }

    /* Boilerplate & Social Navigation */

    #footer .boilerplate-social p {
        font-size: 20px;
        line-height: 1.6em;
    }

    #footer nav.social {
        padding-top: 10px;
        margin: 0 auto 63px auto;
    }

    #footer nav.social ul {
        justify-content: space-between;
        align-items: flex-start;
        align-items:center;
    }

    #footer nav.social a.email {
        width: 18px;
        height: 12px;
    }

    #footer nav.social a.facebook {
        width: 11px;
        height: 21px;
    }

    #footer nav.social a.twitter {
        width: 17px;
        height: 15px;
    }

    #footer nav.social a.medium {
        width: 16px;
        height: 13px;
    }

    #footer nav.social a.telegram {
        width: 19px;
        height: 17px;
    }

    #footer nav.social a.slack {
        width: 18px;
        height: 18px;
    }

    /* Form */

    #footer #form {
        margin-bottom: 0;
    }

    #footer #form .input-group {
        margin-bottom: 23px;
    }

    #footer #form .input-group label {
        font-size: 20px;
        margin-bottom: 16px;
    }

    #footer #form button {
        margin-top: 37px;
    }
}

/*
>>================================================================================>
Team
>>================================================================================>
*/

#team > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#team .member h2 {
    position: relative;
    display: inline;
}

#team .member h2:before,
#team .member h2:after {
    content:'/';
    position: absolute;
    font-weight: 800;
}

#team .member h2:before {
    left: 0;
}

#team .member h2:after {
    right: 0;
}

#team .member .name p {
    line-height: 1em;
}

#team .member {
    max-width: 390px;
}

#team .member .bio {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#000;
    background-image: url(../../img/bio-bg.jpg);
    background-size: cover;
    background-position: center;
    visibility: hidden;
    overflow: auto;
    -ms-overflow-style: scrollbar;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    transition: opacity 300ms ease, visibility 300ms ease;
}

#team .member.active .bio {
    opacity: 1;
    visibility: visible;
}

.no-touchevents #team .member .photo {
    transition: box-shadow 300ms ease;
}

.no-touchevents #team .member .photo:hover {
    box-shadow: 4.015px 4.459px 62px 0px rgba(48, 95, 129, 0.32);
}

#team .member .photo {
    position: relative;
}

#team .read-more {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
    background-image: url(../../img/team-hover-bg.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease, visibility 300ms ease;
}

.no-touchevents #team .photo:hover .read-more {
    opacity: 1;
    visibility: visible;
}

#team .member .read-more span {
    position: absolute;
    color:#fff;
    padding-top: 143px;
    top: 0;
    width: 133px;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

#team .member .read-more span:before {
    content:'';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 133px;
    height: 136px;
    background-size: 133px 136px;
    background-image:url(../../img/menu-logo@2x.png);
    transition: top 300ms ease;
}

#team .member .photo:hover .read-more span:before {
    top: 0;
}

#team .member .read-more span:after {
    content:'';
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    width: 13px;
    height: 12px;
    background-size: 13px 12px;
    background-image:url(../../img/arrow-white.svg);
}

#team .member .bio {
    color:#fff;
}

#team .member button.close {
    position: relative;
    width: 52px;
    height: 52px;
    background-color:#fff;
    position: fixed;
    top: 0;
    right: 0;
}

#team .member button.close:after,
#team .member button.close:before {
    background-color:#000;
    position: absolute;
    content:'';
    height: 3px;
    border-radius: 3px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%) rotate(-45deg);
    margin-top: -3px;
    transition: background-color 300ms ease;
}

#team .member button.close:after {
    transform: translate(-50%,50%) rotate(45deg);
}

.no-touchevents #team .member button.close:hover:after,
.no-touchevents #team .member button.close:hover:before {
    background-color:#3beef9;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {

    #team {
        padding-top: 20px;
    }

    #team .member {
        margin-bottom: 40px;
        margin-left: 1%;
        margin-right: 1%;
    }

    #team .member .photo {
        margin-bottom: 38px;
    }
    
    #team .member .name {
        font-size: 22px;
    }

    #team .member .name h2 {
        padding: 0 18px 0 20px;
        font-size: 22px;
        letter-spacing: .03em;
    }

    #team .member .name h2:before {
        top: 2px;
    }

    #team .member .name h2:after {
        bottom: 3px;
    }

    #team .member .name p {
        margin-top: 15px;
        font-size: 22px;
    }

    #team .member .bio .container {
        padding-bottom: 100px;
    }

    #team .member .bio h2 {
        font-size: 65px;
        padding-left: 70px;
        padding-right: 74px;
    }

    #team .member .bio h2:before {
        top: 5px;
    }

    #team .member .bio h2:after {
        bottom: 8px;
    }

    #team .member .bio .body {
        margin-top: 40px;
    }

    #team .member .photo-link {
        width: 310px;
    }

    #team .member .photo-link a {
        margin-top: 30px;
        float: right;
    }
    
}

@media screen and (min-width: 1024px) {
    #team > .container {
        max-width: 1385px;
    }

    #team .member .bio .container {
        padding-top: 187px;
    }

    #team .member .photo-link {
        position: absolute;
        top: 0;
        margin-top: 10px;
        right: 0;
    }

    #team .member {
        width: 31.3%;
        max-width: 310px;
    }

    #team .member .bio .content {
        position: relative;
        padding-right: 430px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    #team > .container {
        max-width: 900px;
    }

    #team .member .bio .container {
        padding-top: 100px;
    }

    #team .member .photo-link {
        float: right;
        width: 350px;
        padding: 10px 0 5px 40px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 600px) {
    #team .member {
        width: 48%;
        padding: 0 2%;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {
    #team .member {
        margin: 0 auto 33px auto;
    }

    #team .member .name {
        font-size: 19px;
    }

    #team .member .name h2 {
        padding: 0 19px 0 14px;
        margin-bottom: 10px;
        font-size: 19px;
        letter-spacing: .03em;
    }

    #team .member .name p {
        margin-top: 10px;
        font-size: 19px;
    }

    #team .member .photo {
        margin-bottom: 22px;
    }

    #team .member .bio .body {
        margin-top: 30px;
    }

    #team .member .bio .container {
        padding-top: 66px;
    }

    #team .member .bio h2 {
        font-size: 32px;
        padding-left: 35px;
        padding-right: 35px;
        letter-spacing: .02em;
        margin-bottom: 30px;
    }

    #team .member .photo-link {
        margin-bottom: 40px;
    }

    #team .member .photo-link a {
        margin-top: 27px;
    }
}

@media screen and (max-width: 599px) {
 
}

/*
>>================================================================================>
Placeholder
>>================================================================================>
*/



/*
Desktop
>>---------->
*/

@media screen and (min-width: 768px) {

}

/*
Mobile
>>---------->
*/

@media screen and (max-width: 767px) {

}